body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .icons-container {
    background-color: #47CFAC;
}
.icons-container .icons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.icons-container .icons a {
    margin: 0 15px;
}
.icons-container .icons a:last-child {
    margin-right: 30px;
}
.icons-container .icons i::before{
    color: white;
    font-size: 30px;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo-container a {
    margin-left: 20px;
}
nav .profile-container a {
    margin-right: 50px;
    border-bottom: 1px solid black;
}
nav .logo-container img {
    height: 65px;
}
/**/
.hero-container {
    width: 100%;
    height: 350px;
    background-color: #e6e9ed;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: end;
}
.hero-container img {
    width: 300px;
    margin-right: 25px;
}
.hero-container .text-hero {
    width: 85%;
    justify-self: self-start;
    margin-left: 25px;
}
main {
    width: 100%;
    height: auto;
    margin: 40px 0;
    display: grid;
    grid-template-rows: 50px 1fr;
    justify-items: center;
}
main h2 {
    align-self: center;
}
main .projects-container {
    width: 90%;
    border-top: 1px solid #cdd2da;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}
main .projects-container h3 {
    margin: 20px 0;
}
/**/
.blog-contact-container {
    width: 100%;
    height: 300px;
    background-color: #e6e9ed;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.blog-contact-container .card-contact {
    display: flex;
    width: 65%;
    align-items: flex-end;
}
.blog-contact-container .card-contact div {
    margin-left: 15px;
}
.blog-contact-container .card-contact a {
    border-bottom: 1px solid black;
}
.blog-contact-container .card-contact p {
    margin-top: 10px;
}
.blog-contact-container img {
    width: 100px;
}
footer {
    width: 100%;
    height: 110px;
    display: grid;
    grid-template-rows: 30px 80px;
    background-color: #22272D;
}
footer .void {
    background-color: #47CFAC;
}
footer .footer-section {
    color: white;
    align-self: center;
    justify-self: center;
}
